name: CI/CD - Build & Push (GHCR)

permissions:
  contents: read
  packages: write
  id-token: write

on:
  push:
    branches: [ main ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push backend image
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/cloud-blog-backend:latest

      - name: Build and push frontend image
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/cloud-blog-frontend:latest

  deploy-to-azure:
    runs-on: ubuntu-latest
    needs: build-and-push
    steps:
      - name: Azure login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

     
      - name: Configure Azure to pull from GHCR
        run: |
          az webapp config container set --name ${{ secrets.AZURE_FRONTEND_APP }} --resource-group BlogProjectRG \
            --docker-custom-image-name "ghcr.io/${{ github.repository_owner }}/cloud-blog-frontend:latest" \
            --docker-registry-server-url "https://ghcr.io"
          
          az webapp config container set --name ${{ secrets.AZURE_BACKEND_APP }} --resource-group BlogProjectRG \
            --docker-custom-image-name "ghcr.io/${{ github.repository_owner }}/cloud-blog-backend:latest" \
            --docker-registry-server-url "https://ghcr.io"

      - name: Deploy Frontend
        uses: azure/webapps-deploy@v2
        with:
          app-name: ${{ secrets.AZURE_FRONTEND_APP }}
          images: ghcr.io/${{ github.repository_owner }}/cloud-blog-frontend:latest

      - name: Deploy Backend
        uses: azure/webapps-deploy@v2
        with:
          app-name: ${{ secrets.AZURE_BACKEND_APP }}
          images: ghcr.io/${{ github.repository_owner }}/cloud-blog-backend:latest
